In [1]:
# Import the Pandas package
import pandas as pd

# Import the NumPy package
import numpy as np

# import fundamental plotting library in Python
import matplotlib.pyplot as plt

# Instruct jupyter to plot in the notebook
%matplotlib inline

This is the pdf with all the Non profit info.

https://www.irs.gov/pub/irs-soi/eo_info.pdf

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/pharris0330/team_31/main/eo_il.csv')

df.head()

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
0,3390819,REP RESOURCES EMPOWERING PARENTS,NaN,710 CR 1350 N,SULLIVAN,IL,61951-0000,0,3,3,...,0,0,2,0,12,NaN,NaN,NaN,P82,NaN
1,10438881,SHADY NOOK IMPROVEMENT ASSOCIATION INC,NaN,629 W ELM ST,WHEATON,IL,60189-6352,0,4,3,...,5,3,1,0,12,767201.0,85303.0,82703.0,NaN,NaN
2,10482439,MODERN WOODMEN OF AMERICA,% CHAPTER SERVICE DEPT,1701 1ST AVE,ROCK ISLAND,IL,61201-8724,1519,8,9,...,0,0,2,0,12,0.0,0.0,0.0,NaN,10532
3,10492125,ALLIANCE OF INDEPENDENT ACADEMIC MEDICAL CENTERS,% F STEPHEN LARNED MD,401 N MICHIGAN AVE STE 1200,CHICAGO,IL,60611-4264,0,3,3,...,4,4,1,0,12,486525.0,493984.0,493984.0,H05,NaN
4,10516987,ASSOCIATION OF PEDIATRIC ONCOLOGY NURSES,% DAVE BERGESON,8735 W HIGGINS RD STE 300,CHICAGO,IL,60631-2738,9342,3,9,...,0,0,2,0,12,0.0,0.0,0.0,NaN,APHON MAINE CHAPTER

In [3]:
chicago_filter = df["CITY"] == 'CHICAGO'

In [ ]:
chicago = df[chicago_filter]

In [ ]:
chicago_NTEE_CD = chicago['NTEE_CD']
chicago_NTEE_CD.value_counts()